<section class="ui segment">
  <div class="ui three small statistics">
    <div class="ui statistic">
      <div class="value">
        <i class="user icon"></i>
      </div>
      <div class="label">
      ${_member.name}
      </div>
    </div>
    <div class="ui statistic">
      <div class="value">
        <i class="heartbeat icon"></i> ${_memberStats.bmi}
      </div>
      <div class="label">
        BMI
      </div>
    </div>
    <div class="ui statistic">
      <div class="value">
        <i class="doctor icon"></i>
      </div>
      <div class="label">
      ${_memberStats.bmiCategory}
      </div>
    </div>
  </div>
</section>