#{extends 'main.html' /}
#{set title:'Home' /}
#{welcomemenu id:"login"/}


<section class="ui inverted yellow segment">
    <section class="ui inverted raised center aligned middle aligned two column grid segment">
        <div class="column">
            <img class="ui image" src="/public/images/about.gif">
        </div>
        <div class="column">
            <header class="ui purple header"><h2>Play gym web </h2>  </header>
            <p> Step right up to our amazing gym where you can have your own personal trainer who pushes you to achieve<br>
                By attending classes of your choice <br>
            </p>
        </div>
    </section>
</section>